html {
  font-size: 62.5%; /* 16px * 62.5% =10px = 1rem */
  box-sizing: border-box;
}
body {
  font: 1.6rem helvetica;
  height: 100vh;
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header1"
    "header2"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 5rem 1fr 5rem;
  height: 100%;
  padding: 2px;
}

.header1 {
  grid-area: header1;
  background-color: lightgreen;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  /*align-items: right;*/
  padding: 0.5rem;
}
.header2 {
  grid-area: header2;
  background-color: #062a0f;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-style: solid;
}
.brand {
  margin-left: -4rem;
}
.nav {
  list-style-type: none;
  display: inline;
  padding-right: 3rem;
}
.nav > a {
  text-decoration: none;
  color: #ffffff;
}
.header2 > .header-links > a {
  text-decoration: none;
  color: #ffffff;
  padding-right: 3px;
}
.main {
  grid-area: main;
  display: flex;
  margin: 0.1rem;
}

.footer {
  grid-area: footer;
  color: #ffffff;
  display: flex;
  margin-left: -4rem;
  background-color: #062a0f;
}
.links {
  list-style-type: none;
  display: inline;
  padding-right: 3rem;
}
.links > a {
  text-decoration: none;
  color: #ffffff;
}
.copyright {
  align-items: center;
  margin: auto;
  justify-content: center;
}
